header nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  a {
    font-size: 1.3rem;
    text-underline-offset: 8px;
  }

  .logo {
    color: white;

    &:hover {
      filter: initial;
    }
  }
}
