@import '../sass/partials/base';

.post {
  display: flex;
  gap: 2rem;
  background-color: $secondary-bg-color;
  border-radius: 1.5rem;
  padding: 2rem;
  max-height: 30rem;

  & > div {
    flex: 1;
  }

  & > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  :global {
    h2 {
      margin: 0;
    }

    .author {
      font-style: italic;
      font-size: 0.8rem;
      display: flex;
      gap: 0.3rem;
      align-items: center;

      .author-name {
        font-weight: bold;
      }

      .avatar-img {
        margin: 0 0.2rem;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
      }
    }

    .tags {
      display: flex;
      gap: 0.3rem;

      > span {
        font-style: italic;
        text-transform: lowercase;
      }
    }

    img {
      object-fit: cover;
      height: 100%;
    }
  }
}
