@import '../sass/partials/base';

.postStyles {
  display: flex;
  gap: 2rem;
  background-color: $secondary-bg-color;
  border-radius: 1.5rem;
  padding: 2rem;
  max-height: 30rem;

  & > div {
    flex: 1;
  }

  & > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  :global {
    h2 {
      margin: 0;
    }

    .author {
      font-style: italic;
      font-size: 0.8rem;
      display: flex;
      gap: 0.3rem;
      align-items: center;
      margin-top: 4px;

      .author-name {
        font-weight: bold;
      }

      .avatar-img {
        margin: 0 0.2rem;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
      }
    }

    p {
      margin-bottom: auto;
      white-space: pre-line;
      max-width: 400px;
    }

    .tags {
      display: flex;
      gap: 0.3rem;

      > span {
        font-style: italic;
        text-transform: lowercase;
      }
    }

    img {
      object-fit: cover;
      height: 100%;
    }

    .reactions {
      border-top: 1px solid rgba(28, 28, 28, 0.431372549);
      padding-top: 1rem;

      .react-to-post {
        display: flex;
        gap: 1.3rem;

        > button {
          font-size: 1.3rem;
          border-radius: 50%;
          padding: 4px;
          background-color: $tertiary-bg-color;
        }
      }

      .post-reactions {
        display: flex;
        gap: 1rem;
        align-items: flex-end;
        margin-bottom: 1rem;

        > div {
          display: flex;
          gap: 1rem;
        }
      }
    }
  }
}

.postComments {
  background-color: $secondary-bg-color;
  margin: 2rem 0;
  border-radius: 1.5rem;
  padding: 2rem;

  h3 {
    margin-top: 0;
  }

  :global {
    .comments-container {
      display: flex;
    }

    .comments {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      gap: 1rem;

      .comment,
      .no-comment {
        background-color: $primary-bg-color;
        padding: 1rem 2rem;
        border-radius: 1rem;
      }
    }

    .post-comment {
      margin: 0 auto;

      h4 {
        margin: 0;
      }

      form {
        background-color: $primary-bg-color;
        width: 20rem;
        padding: 2rem;
        border-radius: 0.5rem;
        margin: 0;
      }
    }
  }
}
