.posts {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;

  :global {
    .post-container {
      border-radius: 1.5rem;
      padding: 1rem;
      background-color: #2a2a2a;
    }

    img {
      height: 12rem;
      object-fit: cover;
    }

    .post-heading {
      font-size: 1.125rem;
      text-transform: capitalize;
    }

    p {
      margin: 0;
      .author {
        font-weight: bold;
      }
    }
  }
}
