@import '../sass/partials/base';

.post {
  display: flex;
  gap: 2rem;
  background-color: $secondary-bg-color;
  border-radius: 1.5rem;
  padding: 2rem;
  max-height: 30rem;

  :global {
    div {
      flex: 1;
    }

    div:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }

    h2 {
      margin: 0;
    }

    .author {
      font-style: italic;
      span {
        font-weight: bold;
      }
    }

    .tags {
      display: flex;
      gap: 0.3rem;

      > span {
        font-style: italic;
        text-transform: lowercase;
      }
    }

    img {
      object-fit: cover;
      height: 100%;
    }
  }
}
