@import '../sass/partials/base';

.profileStyles {
  display: flex;
  gap: 2.5rem;

  :global {
    .avatar-change {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-color: $secondary-bg-color;
      padding: 2.5rem 2rem;
      border-radius: 1.5rem;
      width: 16rem;

      h2 {
        text-align: center;
      }

      img {
        width: 60%;
        margin: 0 auto;
      }
    }

    form {
      width: 100%;
      margin: 0;
    }
  }
}

.userPostStyles {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;

  :global {
    .user-post {
      padding: 1.5rem;
      border-radius: 1.5rem;
      background-color: $secondary-bg-color;

      a:hover {
        filter: initial;
      }
    }

    h3 {
      margin-top: 0;
      color: $primary-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      height: 10rem;
      object-fit: cover;
      margin-bottom: 1.5rem;
    }

    .action-btn {
      display: flex;
      gap: 1rem;

      > button {
        width: 100%;
      }
    }
  }
}

.editModal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: $primary-modal-bg-color;

  :global {
    .modal-container {
      margin: 9rem auto;
      max-width: 20rem;
      border-radius: 0.2rem;
      background-color: $secondary-bg-color;
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.7rem 1rem;
      background-color: $primary-modal-header-color;

      button {
        background-color: transparent;
        padding: revert;
        font-size: 1.2rem;
      }
    }

    form {
      width: revert;
      padding: 1.5rem;
      margin: 0;

      h1 {
        margin: 0.5rem 0;
        font-size: 1.3rem;
      }

      .tags button {
        width: inherit;
        font-style: italic;
        margin-right: 0.5rem;
        background-color: $primary-bg-color;
        cursor: pointer;

        &::after {
          content: 'x';
          margin-left: 0.3rem;
        }
      }
    }
  }
}

.editModal::-webkit-scrollbar {
  display: none;
}
