$primary-bg-color: #242424;
$secondary-bg-color: #2a2a2a;
$primary-warning-color: #ff9800c7;
$loader-border-color: #8080806e;
$primary-anchor-color: cornflowerblue;
$primary-modal-bg-color: rgba(0, 0, 0, 0.6);
$primary-modal-header-color: #1c1c1c6e;
