body {
  overflow-y: hidden;
}

main {
  margin: 4rem 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: cornflowerblue;

  &:hover {
    filter: brightness(80%);
  }
}

img {
  display: block;
  width: 100%;
}

button {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
  border: none;

  &:hover {
    filter: brightness(90%);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 16rem;
  margin: 2rem 0;

  label {
    display: block;
    margin-bottom: 0.4rem;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
  }

  button {
    width: 100%;
    margin-top: 0.6rem;
  }

  p,
  h2 {
    color: #ff9800c7;
  }

  h2 {
    font-size: 1.125rem;
  }
}

.toggle-modal {
  display: block !important;
}

.loader {
  height: 1.5rem;
  width: 1.5rem;
  border: 4px solid #8080806e;
  border-top: 4px solid cornflowerblue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
